.myfantasyleague_menu {
    border-bottom-color: #f79400
}

.myfantasyleague_menu,.myfantasyleague_menu ul,.myfantasyleague_menu ul li ul {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

.myfantasyleague_menu ul ul li {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

.myfantasyleague_menu > ul > li.has-sub > a:after {
    border-top-color: #fff
}

.myfantasyleague_menu ul ul > li.has-sub > a:after {
    border-left-color: #fff
}

.myfantasyleague_menu > ul > li.has-sub:hover > a:after {
    border-top-color: #000
}

.myfantasyleague_menu ul ul > li.has-sub:hover > a:after {
    border-left-color: #000
}

.myfantasyleague_menu ul li a,.myfantasyleague_menu ul li:hover ul li a,.myfantasyleague_menu ul li ul li:hover ul li a {
    color: #fff
}

.myfantasyleague_menu ul li:hover a,.myfantasyleague_menu ul li ul li:hover a,.myfantasyleague_menu ul li ul li ul li:hover a {
    color: #000
}

.myfantasyleague_menu li:hover > a {
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0);
    box-shadow: none
}

.myfantasyleague_menu ul li ul li:hover > a {
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0)
}

.myfantasyleague_menu li.player-search input[type="text"] {
    color: #000
}

.myfantasyleague_menu li.player-search a:hover {
    color: #fff
}

.myfantasyleague_menu ul li ul {
    border-top-color: #f79400
}

.myfantasyleague_menu ul ul li a,.myfantasyleague_menu ul ul li.has-sub a {
    border-color: #4f1a03
}

.myfantasyleague_menu ul ul li.has-sub li:first-of-type {
    border-top-color: #4f1a03
}

.myfantasyleague_tabmenu ul#homepagetabs {
    border-bottom-color: #f79400
}

.myfantasyleague_tabmenu {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

.myfantasyleague_tabmenu #homepagetabs li {
    border-left: 0;
    border-right-color: #f79400
}

.myfantasyleague_tabmenu #homepagetabs li a {
    color: #fff
}

.myfantasyleague_tabmenu #homepagetabs li:hover {
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0);
    box-shadow: none
}

.myfantasyleague_tabmenu #homepagetabs li:hover a {
    color: #000
}

.myfantasyleague_tabmenu #homepagetabs li.currenttab a {
    color: #000
}

.myfantasyleague_tabmenu #homepagetabs li.currenttab,.myfantasyleague_tabmenu #homepagetabs li.currenttab:hover {
    box-shadow: none;
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0);
    box-shadow: none
}

html {
    height: 100%;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    background: #fff
}

*,:before,:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

ul li {
    margin-left: -20px;
    margin-left: -1.25rem
}

.report td ul li,#commissioner_setup table td ul li {
    margin-left: 0
}

.report td ul,#commissioner_setup table td ul {
    padding-left: 19px;
    padding-left: 1.2rem
}

form .report td ul {
    padding-left: 0
}

body {
    width: 100%;
    color: #000;
    font-size: 13px;
    font-size: .813rem;
    -webkit-font-smoothing: antialiased!important;
    margin: 0;
    padding: 0;
    background: #4D2D0A;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg',sizingMethod='scale')";
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover
}

a:active,a:visited,a:link {
    text-decoration: underline
}

.pagebody {
    min-height: 850px;
    min-height: 53.125rem;
    padding: 10px 5px 5px;
    padding: .625rem .313rem .313rem .313rem;
    max-width: 1160px;
    max-width: 72.5rem;
    margin: 10px auto;
    margin: .625rem auto;
    overflow: auto;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: .188rem;
    -webkit-border-radius: .188rem;
    border-radius: .188rem;
    border: 2px solid #f79400;
    border: .125rem solid #f79400
}

#chat.pagebody {
    min-height: 0
}

.pagebody a {
    background: none
}

.pageheader {
    color: #fff;
    font-size: 12px;
    font-size: .75rem;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-top: 1.25rem;
    background: none;
    border: 0;
    z-index: 1
}

.pageheader a:link,.pageheader a:active,.pageheader a:visited {
    color: #d86000
}

.pageheader a:link:hover,.pageheader a:active:hover,.pageheader a:visited:hover {
    color: #fff
}

.pagetitle {
    max-width: 1160px;
    max-width: 72.5rem;
    display: table;
    margin: 0 auto;
    position: relative
}

.pagetitle h1 {
    font-size: 32px;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    paddding: 0;
    color: #fff;
    text-align: center
}

.pagetitle span,.bannerimage br,.brandlogo {
    display: none
}

.leaguelogo,.bannerimage img {
    max-width: 100%
}

.bannerimage img {
    margin-top: 5px;
    margin-top: .313rem;
    margin-bottom: 10px;
    margin-bottom: .625rem
}

.leaguelogo {
    margin-bottom: 10px;
    margin-bottom: .625rem
}

.welcome {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    display: inline;
    text-align: right;
    padding: 2px;
    padding: .125rem;
    padding-right: 10px;
    padding-right: .625rem
}

.welcome br,.welcome small {
    display: none
}

.pagefooter {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0);
    background-repeat: repeat-x;
    background-position: bottom;
    color: #fff;
    width: auto!important;
    border-top: 10px solid #f79400;
    border-top: .625rem solid #f79400;
    padding: 10px 0;
    padding: .625rem 0;
    font-size: 11px;
    font-size: .688rem
}

.pagefooter a:link,.pagefooter a:active,.pagefooter a:visited {
    color: #fff
}

.pagefooter a:link:hover,.pagefooter a:active:hover,.pagefooter a:visited:hover {
    color: #fff
}

.homepagetabcontent .report {
    width: 100%!important
}

.homepagecolumn .homepagemodule {
    margin-bottom: 15px;
    margin-bottom: .938rem;
    width: 100%
}

#homepagecolumns {
    width: 100%;
    table-layout: fixed
}

div.mobile-wrap {
    max-width: 100%;
    margin-bottom: 15px;
    margin-bottom: .938rem;
    border-radius: 3px;
    border-radius: .188rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .188rem;
    -webkit-border-radius: 3px;
    -webkit-border-radius: .188rem;
    overflow: hidden;
    overflow-x: auto;
    padding: 0;
    background: none
}

div.mobile-wrap caption,div.mobile-wrap .homepagemodule caption,div.mobile-wrap .homepagecolumn .homepagemodule caption {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}

div.mobile-wrap .report,div.mobile-wrap #monthly_calendar,div.mobile-wrap .playoffbracket {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

div.mobile-wrap,.playoffbracket,.report,#monthly_calendar {
    border: 1px solid #d86000;
    border: .063rem solid #d86000
}

.report,.playoffbracket,#monthly_calendar {
    padding: 2px;
    padding: .125rem;
    border-radius: 3px;
    border-radius: .188rem;
    background: #fff
}

div.mobile-wrap:empty {
    border: 0;
    margin: 0;
    border-radius: 0;
    background: none;
    box-shadow: none
}

caption,.homepagemodule caption,.homepagecolumn .homepagemodule caption {
    color: #000;
    cursor: default;
    font-size: 17px;
    font-size: 1.063rem;
    text-align: left;
    text-transform: uppercase;
    width: auto;
    border: 1px solid #d86000;
    border: .063rem solid #d86000;
    margin-bottom: -1px;
    margin-bottom: -.063rem;
    border-bottom: 4px solid #c04800;
    border-bottom: .25rem solid #c04800;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: .188rem;
    -webkit-border-top-left-radius: .188rem;
    border-top-left-radius: .188rem;
    -moz-border-radius-topright: .188rem;
    -webkit-border-top-right-radius: .188rem;
    border-top-right-radius: .188rem;
    padding: 0;
    line-height: 38px;
    line-height: 2.375rem;
    background: #d86000 url(caption-bg.png) left
}

caption span {
    padding-left: 7px
}

#options_07 span.ownername {
    padding: 0;
    background: none;
    font-size: 70%;
    color: #000
}

caption a:link,caption a:active,caption a:visited {
    color: #000!important;
    text-decoration: underline
}

caption a img,th a img,h3 a img {
    vertical-align: middle
}

caption a:hover,caption a:link:hover,caption a:active:hover,caption a:visited:hover {
    color: #000!important
}

caption > span.module_expand {
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    background: none;
    padding-right: 3px
}

caption > span.module_expand:hover {
    color: #000
}

th {
    border-bottom: 1px solid #ffa000;
    border-bottom: .063rem solid #ffa000;
    border-right: 0;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-size: .625rem;
    color: #fff;
    padding: 2px;
    padding: .125rem;
    background: #d87800
}

th:first-of-type {
    border-left: 0
}

th a:link,th a:active,th a:visited,th.articlecaption a:active,th.articlecaption a:link,th.articlecaption a:visited {
    color: #fff
}

th a:link:hover,th a:active:hover,th a:visited:hover,th.articlecaption a:hover {
    color: #000
}

.oddtablerow th,.eventablerow th {
    border: 0;
    background: #d87800
}

.oddtablerow a:link,.oddtablerow a:active,.oddtablerow a:visited,.oddtablerow,#body_depth_chart .report b a:hover,.eventablerow a:link,.eventablerow a:active,.eventablerow a:visited,.eventablerow {
    color: #000
}

.oddtablerow a:hover,.eventablerow a:hover,#body_depth_chart .report b a {
    color: #c44c04;
    text-decoration: underline
}

.oddtablerow {
    background: #FBF1E5;
    color: #000!important
}

.eventablerow {
    background: #F9EBD9;
    color: #000!important
}

.newposition td,.newposition th {
    border-top: 3px solid #c44c04;
    border-top: .188rem solid #c44c04
}

.oddtablerow td,.eventablerow td {
    padding: 2px;
    padding: .125rem
}

a:link,a:active,a:visited {
    color: #000
}

a:link:hover,a:active:hover,a:visited:hover,a:hover {
    color: #c44c04
}

.warning,th.warning,body div.hint {
    color: red;
    font-size: 13px;
    font-size: .813rem
}

th.warning {
    color: #000
}

.oddtablerow td.status span.freeagent {
    color: red
}

.eventablerow td.status span.freeagent {
    color: red
}

A:link img,A:visited img {
    border-color: transparent
}

A:hover img {
    border-color: transparent
}

a:active {
    background: none repeat scroll 0 0 transparent
}

h2 {
    background: #c44c04;
    font-size: 14px;
    font-size: .875rem;
    color: #fff;
    margin: 10px 0;
    margin: .625rem 0
}

#article h2,#options_73 .report h2 {
    background: none;
    color: #000;
    margin: 10px;
    margin: .625rem
}

h2 a:link,h2 a:active,h2 a:visited,h2 a:link:hover,h2 a:active:hover,h2 a:visited:hover {
    color: #FFF;
    text-decoration: underline
}

h3 {
    border: medium none;
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 6px;
    margin-bottom: .375rem;
    margin-top: 4px;
    margin-top: .25rem;
    padding: 4px;
    padding: .25rem;
    text-transform: uppercase
}

h3 a:link,h3 a:visited,h3 a:active,h3 a:hover {
    color: #c44c04
}

h3 a:link:hover,h3 a:visited:hover,h3 a:active:hover,h3 a:hover {
    color: #000
}

#my_options li {
    color: #c44c04
}

abbr {
    cursor: pointer;
    text-decoration: none;
    color: #c44c04
}

#tooltip {
    background: #c44c04!important;
    font-size: 14px;
    font-size: .875rem;
    border-radius: 3px;
    border-radius: .188rem;
    color: #fff!important
}

#tooltip:after {
    border-top-color: #c44c04!important
}

#tooltip.top:after {
    border-top-color: #c44c04!important
}

span[style="color: #0000ff;"],span[style="font-size: 14pt; color: #008000;"] {
    color: #c44c04!important
}

#countdown3,#countdown3 + h3,#countdown1,#countdown1 + h3,#countdown2,#current_system_timestamp,#auction_countdown h3 {
    color: #c44c04
}

tr.myfranchise {
    background-color: rgba(216,96,0,0.4)
}

a.myfranchise,a.myfranchise:link,a.myfranchise:visited,a.myfranchise:active {
    color: #c44c04
}

.report {
    background: #fff!important;
    text-align: left
}

#standings,td,tbody,.report,.scoresummary {
    border-spacing: 0!important
}

.playoffbracket,#home .playoffbracket,#monthly_calendar,#home #monthly_calendar,.pagebody table,#monthly_calendar,.report,td.two_column_layout table,table.two_column_layout,#player table,table#youtubevideo.homepagemodule.report embed {
    width: 100%
}

table.scoresummary,table.h2hmatchups,table.report td.two_column_layout,table.two_column_layout .two_column_layout {
    width: 50%
}

table.articlepicturetable {
    width: auto
}

table.two_column_layout {
    border-spacing: 0;
    padding: 0!important
}

table.two_column_layout .two_column_layout {
    padding-left: 0;
    padding-right: 5px;
    padding-right: .313rem
}

table.two_column_layout .two_column_layout:last-child {
    padding-right: 0
}

table.report td.two_column_layout {
    padding-left: 0;
    padding-right: 5px;
    padding-right: .313rem
}

table.report td.two_column_layout:last-child {
    padding-right: 0
}

div#options_31.pagebody table:last-child {
    border-spacing: 0
}

#body_player td.player_photo {
    padding: 10px;
    padding: .625rem
}

#my_options li {
    padding: 2px;
    padding: .125rem
}

#body_live_scoring th,#body_live_scoring_summary th,#body_options_101 th.franchisename,#body_options_08 th.status,#body_options_03 .report th,#body_options_16 .matchup,.pooltab td:first-of-type,#options_153 .report td:first-of-type,#options_232 .report td.franchisename,#options_156 .report td.franchisename,#options_204 .report td.franchisename,#options_208 .report td.franchisename,#options_158 .report td.franchisename,#options_157 .report td.player,#options_157 .report td.status,#body_free_agents .report td.player,#body_free_agents .report td:nth-child(3),#bbid_summary td.franchisename,#season_records td.franchisename,#record_streaks td.franchisename,#franchise_records td.franchisename,#player_records td.player,#body_options_07 .report td.player,#body_options_49 .report td:nth-child(2),#body_options_49 .report td:first-of-type,#options_171 .report td:first-of-type,#body_options_23 .report td:first-of-type,#options_08 .report .player,#body_top .report .player,#body_player .biography td,#body_options_236 .report td.player,#body_options_08 .report td.status,#brief_standings td.fname,#brief_standings th.fname,#standings td.fname,#standings th.fname,#standings td.ficonname,#standings th.ficonname,#brief_standings th.ficonname,#bar_chart th.franchisename,#news_articles th.headline,#power_rank th.franchisename,#transactions th.franchisename,#weekly_summary .franchisename,#nfl_confidence_pool th:first-of-type,#nfl_confidence_pool td:first-of-type,#body_options_20 .report th.franchisename,#nfl_survivor_pool th:first-of-type,#fantasy_confidence_pool th:first-of-type,#fantasy_confidence_pool td:first-of-type,#poll_summary th:first-of-type,#my_bye_weeks th,#weekly_mvp_starters th:first-of-type,#weekly_mvp th:first-of-type,#my_watch_list th,#weekly_fantasy_articles th,#all_my_leagues th,#league_links th,#my_links th,#franchise_records th.franchisename,#season_records th.franchisename,#player_records th.franchisename,#player_records .status,#bbid_summary th.franchisename,#top_starters .player,#top_owns .player,#top_survivor_picks th:first-of-type + th,#draft_tracker th:first-of-type + th,#my_draft_list th:first-of-type + th,#waiver_order .franchisename,#article_summary th,#my_draft_picks th,#my_draft_picks td:last-of-type,#recent_draft_picks th,#recent_draft_picks td:last-of-type,#average_auction_values th:first-of-type + th,#bar_chart th,#player_records .player,#top_adds .player,#top_drops .player,#hot_news .player,#top_performers .player,#top_fa .player,#my_news th,#roster .player,#news_articles .timestamp,#twitter_feed th,#league_champions th.rank + th,#record_streaks th.franchisename,#my_trophy_case th,#transactions th,#trade_bait th,#options_54 .report th:first-of-type,#options_07 .report tr:first-of-type .player,#options_07 .report tr th,#options_105 .report th,#options_138 .report th:first-of-type,#body_nfl_team_stats .report td:first-of-type,#body_nfl_team_stats .report th:first-of-type,#body_depth_chart .report th,#body_injury .report th,#body_options_156 th.franchisename,#options_06 .two_column_layout .report th,#body_options_169 .two_column_layout .report .player,#body_options_169 .two_column_layout .report .points + th,#body_accounting_report .report th,#body_accounting_report .report td,#body_options_118 .report .player,#body_options_118 .report th:first-of-type,#body_options_118 .report + .report td,#body_fantasy_box_score .report td:first-of-type,#body_fantasy_box_score .report th:first-of-type,#body_board_show .report th,#body_board_show .report td,#body_options_202 th,#options_194 .report .rank + th,#body_options_208 .report .franchisename,#body_options_171 .report th:first-of-type,#body_options_158 .report th.franchisename,#options_157 .report .player,#options_157 .report .status,#body_options_31 .report .franchisename,#body_options_119 .report th:first-of-type,#options_153 th:first-of-type,#body_options_81 .report .rank + th,#body_options_81 .report .rank + td,#options_02 .report td:first-of-type,#options_02 .report td:first-of-type + td,#options_02 .report th:first-of-type + th,#options_02 .report th:first-of-type + th + th,#body_pro_matchup .report td:first-of-type,#body_pro_matchup .report tr:nth-child(2) > th:nth-child(1),#body_options_215 .report th,#body_player .biography.report + .report th,#body_player #player_stats_table td,#body_tweets .report th,blockquote,#who_should_i_start .player,#standings .ficon {
    text-align: left
}

#body_live_scoring .points,#body_live_scoring_summary .teamscoresummary th:last-of-type,#body_live_scoring_summary .teamscoresummary .points,#body_options_16 .week,#body_options_03 .report .rank,#top_survivor_picks td:first-of-type,#roster .contractyear,#roster .contractstatus,#options_17 .report .timestamp,#options_202 .report .year,#options_202 .reportfooter,#options_194 .report .rank,#options_232 .report td,#options_156 .report td,#options_208 .report td,#options_204 .report td,#body_options_23 .report td,#options_158 .report td,#options_157 .report td,#options_232 .report .rank,#options_156 .report td.rank,#nfl_confidence_pool .reportfooter td,#options_208 .report th.rank,#options_204 .report th.rank,#options_158 .report .rank,#options_157 .report .rank,#options_171 .report td,#body_free_agents .report td,#options_187 .contractyear,#options_187 .contractstatus,#options_187 .contractinfo,#bbid_summary td,#season_records td,#record_streaks td,#franchise_records td,#player_records td,#hot_news .reportfooter,#body_options_151 .report td,#hot_news td.points,#hot_news td.rank,#draft_tracker td.rank,#options_153 .report td,#body_options_07 .report td,#recent_draft_picks td[align="right"],.pooltab td,#my_draft_picks td[align="right"],#body_options_170 .report td,#options_17 .report td.rank,#options_117 .report td.rank,#options_117 td[align="right"],#body_options_49 .report tr:last-of-type td:first-of-type,table#youtubevideo.homepagemodule.report embed,#my_watch_list .reportfooter,#fantasy_confidence_pool .reportfooter td,#body_news_articles .report td.timestamp,#body_news_articles .report td.rank,#body_options_49 .report td,#body_options_09 .report td.test,#player_search form,#body_options_20 .report td.points,#body_options_215 .report td:first-of-type,#body_options_09 .report td.edit,#options_08 .report td,#body_top .report td,#youtubevideo td,#power_rank td+td,#body_options_101 .report td+td,#body_options_20 .report td.points,#body_options_151 .report td:first-of-type,#body_options_119 .report td+td,#body_options_236 .report td,#standings td,#standings th,#brief_standings td,#brief_standings th,#bar_chart .points,#transactions .rank,#weekly_summary td,#nfl_confidence_pool td,#nfl_confidence_pool tr.reportfooter td,#nfl_survivor_pool .reportfooter,#fantasy_confidence_pool td,#fantasy_confidence_pool tr.reportfooter td,#franchise_schedule .week,#average_auction_values .rank,#poll_summary td.poll_voted,#weekly_mvp_starters .points,#weekly_mvp .points,#my_watch_list th:last-of-type,#my_watch_list td.points,#top_starters .rank,#top_starters td[align="right"],#top_owns .rank,#top_owns td[align="right"],#top_survivor_picks td:last-of-type,#my_draft_list .points,#waiver_order .rank,#my_draft_picks th:first-of-type,#recent_draft_picks tr.reportfooter td,#my_draft_picks tr.reportfooter td,#recent_draft_picks th:first-of-type,#top_adds .rank,#top_adds td:last-of-type,#top_drops .rank,#top_drops td:last-of-type,#top_performers .rank,#top_performers .points,#top_fa .rank,#top_fa .points,#league_champions .rank,#my_trophy_case .year,#trade_bait th:last-of-type,#trade_bait td:last-of-type,#roster .points,#roster .week,#options_07 .report tr:first-of-type th,#options_07 .report td,#options_138 .report td.points,#options_138 .report th:first-of-type.player,#body_depth_chart .report th:nth-child(1),#body_depth_chart .report th:nth-child(2),#body_depth_chart .report td:nth-child(1),#body_depth_chart .report td:nth-child(2),#body_nfl_team_stats .report tr th:last-of-type,#body_nfl_team_stats .report td,#body_options_169 .two_column_layout .report .points,#body_accounting_report .report td.salary,#body_accounting_report .report th.debit,#body_accounting_report .report th.credit,#body_options_118 .report td,#body_options_118 .report + .report td:first-of-type,#body_fantasy_box_score .report td,#body_fantasy_box_score .report th,#body_fantasy_box_score .report td:first-of-type.points,#body_options_31 .report td,#body_options_81 .report td,#options_02 .report td,#body_pro_matchup .report td,#body_pro_matchup .report th,#body_options_215 .report th:first-of-type,#body_player #player_stats_table th,#body_player #player_stats_table td.points,#body_player #player_stats_table td.week,#body_player .biography.report + .report + .report td,#body_player #player_stats_table .reportfooter,#who_should_i_start .points,#body_player .biography.report + .report td.reportfooter {
    text-align: center
}

#body_live_scoring_summary .teamscoresummary .total th,#body_live_scoring_summary .teamscoresummary .players_yet_to_play th,#body_live_scoring_summary .teamscoresummary .players_currently_playing th,#body_live_scoring_summary .teamscoresummary .player_minutes_remaining th,#body_player .biography.report th {
    text-align: right;
    padding-right: 4px;
    padding-right: .25rem
}

#options_153 .report td:last-of-type {
    color: #c44c04
}

#article iframe {
    max-width: 460px;
    max-width: 28.75rem
}

#livescoring_summary td.points,#last_weeks_fantasy_results td.points,#body_options_15 td.points,#franchise_schedule .points,#options_16 td.points,#body_options_169 .two_column_layout .report td.points {
    color: #c44c04;
    font-size: 15px;
    font-size: .938rem
}

#body_options_20 .report td.points,#body_options_151 .report td:first-of-type {
    font-size: 17px;
    font-size: 1.063rem;
    color: #c44c04
}

#owner_activity td.franchisename {
    color: #000
}

#options_22 .scoresummary {
    margin-bottom: 10px;
    margin-bottom: .625rem
}

#youtubevideo embed,#trash_talk_video {
    width: auto!important;
    max-width: 98%!important;
    margin: 10px auto;
    margin: .625rem auto;
    background: transparent
}

#todays_league_news tr.to_be_decided:first-of-type th:first-of-type,#todays_league_news tr.in_the_books th[colspan="2"],#monday_night tr.to_be_decided:first-of-type th:first-of-type,#monday_night tr.in_the_books th[colspan="2"] {
    font-size: 12px;
    font-size: .75rem;
    border-bottom: 2px solid #000;
    border-bottom: .125rem solid #000
}

.total_salary_row th,.salary_cap_row th,.cap_room_available_row th {
    font-size: 100%
}

img.articlepicture,#my_player_photos td img {
    border: 3px solid #fff;
    border: .1875rem solid #fff;
    height: auto;
    width: 100%;
    outline: 1px solid #c44c04;
    outline: .0625rem solid #c44c04;
    margin: 0 auto;
    margin: 0 auto
}

#my_player_photos td img {
    max-width: 100px;
    max-width: 6.25rem
}

td.player_photo img {
    border: 3px solid #fff;
    border: .1875rem solid #fff;
    outline: 1px solid #c44c04;
    outline: .0625rem solid #c44c04
}

#board_show td {
    vertical-align: top
}

#body_board_show th.messageboardbar {
    background: #c44c04;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 1px;
    margin-bottom: .0625rem;
    padding: 8px;
    padding: .5rem;
    border: 0
}

#body_board_show th.messageboardbar + td {
    float: left;
    width: 100%;
    background: #DB7C05;
    text-align: center;
    padding: 0
}

#body_board_show th.messageboardbar a {
    color: #fff;
    text-decoration: underline
}

#body_board_show th.messageboardbar a:hover {
    color: #fff
}

#body_board_show a.messageboardlink {
    color: #fff;
    padding: 10px;
    padding: .625rem;
    text-decoration: none
}

#body_board_show a.messageboardlink:hover {
    text-decoration: underline
}

#standings h3,.homepagecolumns #standing h3,.homepagecolumn #standings h3,.homepagecolumn #brief_standings h3,#brief_standings h3 {
    font-size: 19px;
    font-size: 1.188rem;
    text-transform: uppercase;
    border: 2px solid #c04800;
    border: .125rem solid #c04800;
    margin: 5px 0 7px;
    margin: .3125rem 0 .4375rem 0;
    color: #fff;
    background: #4f1a03 url(standings-bg.png) left;
    position: relative
}

body .standingslogo {
    max-width: 100%;
    max-height: 100%;
    margin: 3px auto;
    margin: .1875rem auto
}

#monthly_calendar {
    border-collapse: separate!important;
    margin-bottom: 13px;
    margin-bottom: .8125rem;
    text-align: left;
    background: none!important
}

#monthly_calendar td {
    border: 1px solid #fff;
    border: .0625rem solid #fff;
    padding: 0
}

#monthly_calendar th {
    border: 0
}

#monthly_calendar .month_header th {
    box-shadow: none;
    border-bottom: 1px solid #ffa000;
    border-bottom: .0625rem solid #ffa000
}

#monthly_calendar .month_header th a {
    color: #fff
}

#monthly_calendar .day_of_week_header th {
    box-shadow: none
}

#monthly_calendar td .calendarday {
    background-color: #c44c04;
    border-bottom: 1px solid #111;
    border-bottom: .0625rem solid #111;
    border-left: 1px solid #181818;
    border-left: .0625rem solid #181818;
    color: #FFF
}

.calendarday {
    padding: 0 2px;
    padding: 0 .125rem;
    line-height: 1.5
}

.calendarday a {
    color: #fff!important;
    font-size: 16px;
    font-size: 1rem
}

#monthly_calendar td.today {
    border: 3px dotted #c44c04;
    border: .1875rem dotted #c44c04
}

#commissioner_setup table th {
    background-color: #c44c04;
    color: #fff;
    font-size: 17px;
    font-size: 1.063rem;
    padding: 7px 0;
    padding: .438rem 0;
    text-align: left;
    text-indent: 50px;
    text-indent: 3.125rem;
    text-transform: uppercase;
    background-position: 10px 4px;
    background-position: .625rem center;
    background-repeat: no-repeat;
    background-size: auto 28px;
    background-size: auto 1.75rem
}

#commissioner_setup table li {
    color: #c44c04
}

#commissioner_setup th#recently_used {
    background-image: url(recent.png)
}

#commissioner_setup th#general_setup {
    background-image: url(setting_tools.png)
}

#commissioner_setup th#commissioner_franchise_setup {
    background-image: url(commish_setup.png)
}

#commissioner_setup th#history_setup {
    background-image: url(hourglass.png)
}

#commissioner_setup th#scoring_setup {
    background-image: url(whistle.png)
}

#commissioner_setup th#players_and_rosters {
    background-image: url(group.png)
}

#commissioner_setup th#adjust_scores {
    background-image: url(numeric_stepper.png)
}

#commissioner_setup th#home_page_message_setup {
    background-image: url(widgets.png)
}

#commissioner_setup th#salary_cap_setup {
    background-image: url(chart_curve_edit.png)
}

#commissioner_setup th#use_with_caution {
    background-color: red;
    background-image: url(error.png)
}

#commissioner_setup th#playoff_setup {
    background-image: url(playoffs.png)
}

#commissioner_setup th#other_transactions_setup {
    background-image: url(small_business.png)
}

#commissioner_setup th#waivers_setup {
    background-image: url(arrow_refresh.png)
}

#commissioner_setup th#draft_setup {
    background-image: url(events.png)
}

#commissioner_setup th#auction_setup {
    background-image: url(auction_hammer_gavel.png)
}

#commissioner_setup th#fantasy_schedule_setup {
    background-image: url(calendar_edit.png)
}

#commissioner_setup th#appearance_setup {
    background-image: url(layout_edit.png)
}

span.reportnavigation {
    padding: 0;
    margin: 10px 0;
    margin: .625rem 0;
    color: #000
}

.reportnavigationheader {
    color: #C04800
}

span.reportnavigation a {
    color: #000
}

.reportnavigation a:hover {
    color: #C04800;
    text-decoration: underline
}

.reportnavigation .currentweek {
    color: #C04800;
    text-decoration: none
}

.homepagemessage {
    background: #fff;
    border-radius: 3px;
    border-radius: .1875rem;
    text-align: left;
    padding: 2px;
    padding: .125rem;
    border: 4px double #d86000;
    border: .25rem double #d86000
}

.homepagemessage span.warning,.homepagemessage h4.warning {
    color: #d86000
}

.homepagemessage .reallysmall:hover {
    background: none!important
}

#championship_plaque .plaque {
    text-align: center
}

#championship_plaque .plaque div {
    float: none;
    display: inline-table;
    margin: 10px;
    margin: .625rem;
    background: transparent url(plaque-bg.png)no-repeat
}

#championship_plaque .plaqueframe {
    background: #c44c04!important
}

#championship_plaque .oddtablerow td {
    border: 0!important;
    padding: 0!important
}

#championship_plaque .plaque {
    text-align: center
}

#championship_plaque .plaque h2 {
    background: #fff!important;
    border: 3px solid #D87800!important;
    border: .1875rem solid #D87800!important;
    margin: 10px;
    margin: .625rem .625rem;
    color: #D87800;
    text-transform: uppercase
}

#championship_plaque h3 {
    border: 0;
    color: #c44c04!important;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    height: 28px;
    height: 1.75rem;
    margin: -4px;
    margin: -.25rem;
    text-transform: uppercase!important
}

#championship_plaque h4 {
    border: 0;
    color: #000!important;
    font-size: 13px;
    font-size: .8125rem;
    font-style: normal;
    text-transform: uppercase!important
}

.plaqueframe div p {
    color: #D87800;
    padding-top: 10px;
    padding-top: .625rem
}

.grid_pos_qb {
    background-color: #ffb3be
}

.grid_pos_rb {
    background-color: #abc4d3
}

.grid_pos_wr {
    background-color: #a7d7c0
}

.grid_pos_te {
    background-color: #ffdeb3
}

.grid_pos_pk {
    background-color: #f2c0d1
}

.grid_pos_def {
    background-color: #ffebb3
}

.grid_pos_pn {
    background-color: #f2c0d1
}

.grid_pos_lb {
    background-color: #dfeec4
}

.grid_pos_de {
    background-color: #dcd1e1
}

.grid_pos_dt {
    background-color: #dcd1e1
}

.grid_pos_cb {
    background-color: #e6cbda
}

.grid_pos_s {
    background-color: #e6cbda
}

#league_champions th[colspan="2"] {
    font-size: 14px;
    font-size: .875rem;
    color: #000
}

#record_streaks td.year,#season_records td.year,#player_records td.year,#franchise_records td.year,#my_trophy_case td.year {
    color: #C44C04
}

#body_chat,#chat {
    width: auto;
    box-shadow: none;
    border: 0;
    max-width: 100%;
    height: 100%
}

#chat_audio_clip {
    display: none
}

#chat {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    border: 0;
    background: none;
    width: auto
}

#body_chat h2 {
    display: none;
    margin-top: 10px;
    margin-top: .625rem
}

#league_chat b {
    color: #c44c04
}

#league_chat td:nth-child(1) {
    padding: 0 5px;
    padding: 0 .3125rem
}

#league_chat caption img[alt="New Window"] {
    background: url(new_window-sprite.png) no-repeat scroll 0 0 transparent;
    background-size: cover;
    border: medium none!important;
    height: 15px;
    height: .9375rem;
    margin-top: 5px;
    margin-top: .313rem;
    padding-left: 15px;
    padding-left: .9375rem;
    width: 15px;
    width: .9375rem;
    margin-left: 5px;
    margin-left: .313rem;
    vertical-align: top
}

#league_chat caption img[alt="New Window"]:hover {
    background: url(new_window-sprite.png) no-repeat scroll -15px 0 transparent;
    background: url(new_window-sprite.png) no-repeat scroll -.9375rem 0 transparent;
    background-size: cover
}

.pagebody input,select,textarea {
    border-radius: 3px;
    border-radius: .1875rem;
    color: #000;
    margin: 2px;
    margin: .125rem;
    padding: 3px!important;
    padding: .1875rem!important;
    font-style: normal;
    text-decoration: none;
    font-size: 13px;
    font-size: .813rem;
    outline: none;
    border: 1px solid #bbb;
    border: .063rem solid #bbb
}

input[type="submit"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner {
    border: 0 none
}

.pagebody input[type="text"],.pagebody input[type="password"] {
    text-transform: none
}

.pagebody input[type="file"] {
    border: 0;
    color: #000
}

input[type="button"],input[type="submit"] {
    background: #C04800;
    color: #fff;
    cursor: pointer;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none
}

input[type="button"]:hover,input[type="submit"]:hover {
    background: #D86000;
    color: #fff;
    cursor: pointer
}

#source_list,#destination_list {
    background: #fff;
    margin: 0;
    border: 1px solid #ddd;
    border: .063rem solid #ddd;
    box-shadow: none;
    border-radius: 0
}

#fantasy_articles th select,#body_options_185 .report th select {
    width: 100%;
    max-width: 400px;
    max-width: 25rem;
    margin: 0
}

textarea#MSG {
    width: 100%
}

textarea {
    margin: 10px 0;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ddd;
    border: .063rem solid #ddd;
    max-height: 100%;
    text-transform: none
}

caption.withfranchiseicon {
    padding: 5px 0;
    padding: .3125rem 0;
    text-align: center!important;
    text-indent: 0
}

caption.withfranchiseicon span {
    background: none!important;
    padding-left: 0
}

#body_options_13 img.franchiselogo {
    display: none
}

#options_13 .franchiselogo {
    display: none
}

.franchiselogo {
    border: 2px solid #fff;
    border: .125rem solid #fff;
    outline: 1px solid #c44c04;
    outline: .063rem solid #c44c04;
    height: auto;
    max-width: 98%;
    margin: 10px auto;
    margin: .625rem auto
}

#body_submit_lineups h4.warning {
    background: #d87800;
    max-width: 280px;
    max-width: 17.5rem;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    padding: .625rem;
    border-radius: 3px;
    border-radius: .1875rem;
    border: 4px double #fff;
    border: .25rem double #fff
}

#body_submit_lineups h4.warning br:first-of-type {
    display: none
}

#vsubmenu {
    margin-left: -130px;
    margin-left: -8.125rem;
    padding: 0;
    position: absolute
}

#withmenus.withleft {
    margin-left: 0;
    min-height: 963px;
    min-height: 60.188rem
}

#vsubmenu {
    margin-bottom: 20px;
    margin-bottom: 1.25rem
}

#vsubmenu ul {
    width: 100px;
    width: 6.25rem;
    line-height: 1
}

#vsubmenu ul li {
    background: #d87800;
    background: -moz-linear-gradient(left,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(left,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to right,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=1);
    border-radius: 4px;
    border-radius: .1875rem;
    border: 1px solid #943800;
    border: .063rem solid #943800;
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    padding: 8px;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase!important;
    width: 116px;
    width: 7.25rem;
    text-decoration: none
}

#vsubmenu ul li ul {
    padding-top: 5px;
    padding-top: .3125rem;
    margin-left: -5px;
    margin-left: -.3125rem
}

#vsubmenu ul li ul li {
    border-radius: 0;
    border: 1px solid #c04800;
    border: .0625rem solid #c04800;
    margin: 1px;
    margin: .0625rem;
    width: 106px;
    width: 6.625rem;
    box-shadow: none;
    background: #fff
}

#vsubmenu ul li ul li a {
    border: 0;
    color: #000;
    font-size: 11px;
    font-size: .6875rem;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 101px;
    width: 6.313em;
    height: 20px;
    height: 1.25rem;
    line-height: 22px;
    line-height: 1.375rem;
    text-indent: 2px;
    text-indent: .125rem;
    width: 100%
}

#vsubmenu ul li ul li:hover {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0);
    border: 1px solid #b44400;
    border: .0625rem solid #b44400
}

#vsubmenu ul li ul li:hover a {
    color: #fff
}

.vsubmenuheader {
    margin-top: 7px!important;
    margin-top: .4375rem!important
}

li.vsubmenuheader:nth-child(1) {
    margin-top: 0!important
}

#hsubmenu {
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0);
    margin: 0 auto 10px;
    margin: 0 auto .625rem;
    padding: 0;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border-radius: .1875rem;
    border: 1px solid #943800;
    border: .0625rem solid #943800;
    display: table
}

#hsubmenu ul {
    display: table-cell
}

#hsubmenu ul li {
    border-left: 0;
    padding: 5px 0;
    padding: .3125rem 0;
    right: 0;
    border-left: 1px solid #943800;
    border-left: .0625rem solid #943800;
    float: none;
    display: table-cell;
    width: 1%
}

#hsubmenu ul li a {
    border-left: 0;
    padding: 3px 16px;
    padding: .1875rem 1rem
}

#hsubmenu ul li:first-of-type {
    border-left: 0
}

#hsubmenu a {
    color: #000;
    text-transform: uppercase
}

#hsubmenu a:hover,#hsubmenu ul li:hover a {
    color: #fff;
    text-decoration: underline
}

#hsubmenu ul {
    float: none;
    left: 0
}

#hsubmenu ul li:hover {
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

.homepagecolumn .playoffbracket {
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-bottom: .75rem
}

#options_79 .playoffbracket {
    margin-bottom: 15px;
    margin-bottom: .938rem
}

.playoffbracket td {
    border: 0;
    background: none
}

.playoffbracket td.topteam {
    border-bottom: 2px solid #c44c04;
    border-bottom: .125rem solid #c44c04
}

.playoffbracket td.bracket {
    border-right: 2px solid #c44c04;
    border-right: .125rem solid #c44c04
}

.playoffbracket td.bottomteam {
    border-bottom: 2px solid #c44c04;
    border-bottom: .125rem solid #c44c04;
    border-right: 2px solid #c44c04;
    border-right: .125rem solid #c44c04
}

.playoffbracket td b {
    color: #c44c04
}

.playoffbracket td {
    font-size: 15px!important;
    font-size: .938rem!important;
    text-align: center
}

#home th.playoffbracketname {
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase
}

.playoffbracket tr.lastrow {
    line-height: 10px!important;
    line-height: .625rem!important
}

.playoffbracket tr.lastrow td {
    border: none!important;
    color: transparent!important;
    font-size: 0!important
}

.playoffbracket tr.lastrow img {
    display: none!important
}

.reportfooter {
    border: 0;
    background: rgba(216,120,0,.25);
    color: #000;
    font-size: 12px;
    font-size: .75rem
}

.reportfooter a:link,.reportfooter a:active,.reportfooter a:visited {
    color: #c44c04
}

.reportfooter a:link:hover,.reportfooter a:active:hover,.reportfooter a:visited:hover {
    color: #000
}

#body_options_20 .report td img,#bar_chart .weeklypointtotals table td img {
    max-width: 100%
}

#bar_chart .weeklypointtotals table,#body_options_20 .weeklypointtotals table {
    width: auto
}

#bar_chart .weeklypointtotals table td,#body_options_20 .weeklypointtotals table td {
    border-right: 0;
    border-left: 0;
    padding-right: 0;
    padding-left: 0;
    border: 0
}

#live_scoring_summary.pagebody,#live_scoring.pagebody {
    margin-bottom: 0
}

#body_live_scoring_summary,#body_live_scoring.pagebody {
    padding-bottom: 10px;
    padding-bottom: .625rem
}

#live_scoring_summary.pagebody,#live_scoring.pagebody {
    margin-bottom: 0
}

#live_scoring_summary .mobile-view,#live_scoring .mobile-view {
    width: 50%
}

#live_scoring_summary table,#live_scoring table {
    border-spacing: 0
}

#live_scoring_summary .teamscoresummary.report {
    background: none!important
}

#body_live_scoring_summary h2,#body_live_scoring h2 {
    color: #FFF;
    font-size: 24px;
    font-size: 1.5rem;
    padding: 10px 0;
    padding: .625rem 0;
    text-transform: uppercase;
    margin-top: 0
}

#body_live_scoring_summary h2.warning,#body_live_scoring h2.warning {
    margin-top: 10px;
    margin-top: .625rem
}

#body_live_scoring_summary h3,#body_live_scoring h3 {
    border: 1px solid #c44c04;
    border: .063rem solid #c44c04;
    background: #D87800;
    color: #fff
}

#live_scoring_summary,#live_scoring {
    z-index: 99999
}

#live_scoring_summary .scoresummary {
    border: medium none!important;
    margin-top: 10px;
    margin-top: .625rem;
    padding: 0
}

#livescoring_summary td+td {
    text-align: center;
    padding: 2px 0;
    padding: .125rem 0
}

#live_scoring_summary table.report .newposition td,#live_scoring table.report .newposition td {
    border-top: 0
}

tr.total td {
    color: green
}

tr.players_yet_to_play td {
    color: red
}

tr.total td,tr.players_yet_to_play td,tr.players_currently_playing td,tr.player_minutes_remaining td {
    border: 1px solid #E7EBF0;
    border: .063rem solid #E7EBF0;
    text-align: center;
    text-transform: uppercase;
    background: #EFC999;
    font-size: 16px;
    font-size: 1rem
}

tr.total th,tr.players_yet_to_play th,tr.players_currently_playing th,tr.player_minutes_remaining th {
    border: 1px solid #E7EBF0;
    border: .063rem solid #E7EBF0;
    background: #EFC999;
    color: #000
}

.oddtablerow td.gameunderway,.eventablerow td.gameunderway,.oddtablerow td.updatedstats,.eventablerow td.updatedstats,.oddtablerow td.haspossession,.eventablerow td.haspossession,.oddtablerow td.redzone,.eventablerow td.redzone {
    padding-right: 22px!important;
    padding-right: 1.375rem!important;
    background-position: 99% center;
    background-size: 16px;
    background-size: 1rem
}

#body_live_scoring .grand_total td {
    font-size: 15px;
    font-size: .938rem;
    text-transform: uppercase;
    color: #C44C04;
    border-top: 4px solid #C44C04;
    border-top: .25rem solid #C44C04;
    background: #fff
}

#body_live_scoring td.subtotal b,#body_live_scoring td.subtotal + td b {
    color: #C44C04
}

.gameunderway {
    background: url(game_on.png) no-repeat
}

.updatedstats {
    background: url(update_stats.png) no-repeat
}

.haspossession {
    background: url(has_ball.png) no-repeat
}

.redzone {
    background: url(red_zone.gif) no-repeat
}

.shouldstart {
    background: url(green_up.png) center right no-repeat;
    padding-right: 20px;
    padding-right: 1.25rem
}

.shouldbench {
    background: url(red_down.png) center right no-repeat;
    padding-right: 20px;
    padding-right: 1.25rem
}

.franchise_offline,.franchise_online {
    background: none;
    padding: 0
}

.franchise_offline::after,.franchise_online::after {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    border: .063rem solid #fff;
    width: 10px;
    width: .625rem;
    height: 10px;
    height: .625rem;
    border-radius: 50%;
    margin-left: 4px;
    margin-left: .25rem
}

.franchise_offline::after {
    background: #ccc
}

.franchise_online::after {
    background: #74B2ED
}

#options_02 .report b a,#submit_lineups .report b a,#submit_lineup.report b a {
    color: #d87800;
    font-style: italic
}

#options_02 .report b a:hover,#submit_lineups .report b a:hover,#submit_lineup.report b a:hover {
    color: #000
}

#options_02 .reportnavigation i,#submit_lineups .reportnavigation i {
    color: #d87800
}

#body_options_98 .report.nocaption,#body_options_18 .report.nocaption {
    background: none;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 0
}

#body_login td[width="175"] {
    display: none
}

.homepagetabcontent > table[align="center"] > tbody:nth-child(1) > tr:nth-child(1) > td[valign="top"] {
    border: 0!important;
    padding: 0;
    width: 50%;
    padding-right: 5px;
    padding-right: .313rem
}

.homepagetabcontent > table[align="center"] > tbody:nth-child(1) > tr:nth-child(1) > td[valign="top"]:last-child {
    padding-right: 0
}

.homepagetabcontent table[align="center"] {
    border-spacing: 0
}

.MFLPlayerPopupLoader {
    border-color: #eee;
    border-top-color: #f79400
}

#MFLPlayerPopupClose {
    color: #fff;
    border-color: #c44c04;
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0)
}

#MFLPlayerPopupClose:hover {
    color: #fff;
    border-color: #c44c04;
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

ul.MFLPlayerPopupTab {
    border-bottom-color: #f79400;
    background: #c04800;
    background: -moz-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: -webkit-linear-gradient(top,#c04800 0%,#e6722d 50%,#c04800 100%);
    background: linear-gradient(to bottom,#c04800 0%,#e6722d 50%,#c04800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c04800',endColorstr='#c04800',GradientType=0)
}

ul.MFLPlayerPopupTab li {
    border-right-color: #000
}

ul.MFLPlayerPopupTab li a {
    color: #fff;
    border-right-color: rgba(255,255,255,.1)
}

ul.MFLPlayerPopupTab li a:hover,ul.MFLPlayerPopupTab li a.active {
    color: #fff;
    background: #d87800;
    background: -moz-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: -webkit-linear-gradient(top,#d87800 0%,#f29b2e 50%,#d87800 100%);
    background: linear-gradient(to bottom,#d87800 0%,#f29b2e 50%,#d87800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d87800',endColorstr='#d87800',GradientType=0)
}

#MFLPlayerPopupContainer .articlepicture {
    border-color: #c44c04
}

#MFLPlayerPopupContainer .warning {
    color: #c44c04
}

body.full-width .pagebody,body.full-width .myfantasyleague_menu,body.full-width .pageheader,body.full-width .pagefooter {
    max-width: 100%
}

body.full-width .pagebody {
    border: 0;
    border-radius: 0
}
